* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px
}

img {
    width: 100%;
}

h1 {
    font-size: 2.027rem;
}
h2 {
    font-size: 1.802rem;
}
h3 {
    font-size: 1.266rem;
}


/* header */
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

header img {
    max-width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #000;
}

/* sweethhearts affair */

/* product shot grid */
#sweetheart .wrapper {
    padding-bottom: 30px;
}

.product-shot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
}

.product-shot img:nth-child(1) {
    max-width: 100%;
    grid-column: 1 / -1;
}

.product-shot img {
    border-radius: 7px;
}

/* text */
#sweetheart h1 {
    font-weight: 500;
}

#sweetheart .text p {
    margin-top: 0;
}

#sweetheart .text .l-e {
    margin: 0;
    text-transform: uppercase;
}

.button {
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

/* behind the dough */
#behind-dough .wrapper {
    background-color: #f8fafc;
    max-width: 100%;
}

#behind-dough h2 {
    margin-top: 10px;
    text-align: center;
}

/* what people are saying */
#people-saying .wrapper {
    background-color: #000;
    color: #fff;
    max-width: 100%;
}

#people-saying h2 {
    text-align: center;
    margin-top: 10px;
}

#people-saying blockquote {
    margin: 0 0 40px 0;
}

/* try with */
#try-with .wrapper {
    padding-top: 0;
}

#try-with h2 {
    text-align: center;
}

#try-with .ride {
    background-color: #f8fafc;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

#try-with .brownie {
    background-color: #f8fafc;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

#try-with .cookie {
    background-color: #f8fafc;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

#try-with .smore {
    background-color: #f8fafc;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.flavours img {
    border-radius: 10px 10px 0 0;
}

.flavours h3 {
    font-size: 1.5rem;
}

.flavours p {
    font-size: 1.4rem;
}

#try-with .flavours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

#try-with .wrapper {
    padding-bottom: 40px;
}

/* footer */
footer {
    background-color: #000;
    padding: 10px 10px;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

@media (min-width: 768px) and (max-width: 960px) { 

    .product-shot {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        gap: 1rem;
    }

    .product-shot img:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .product-shot img:nth-child(2) {
        grid-column: 2 / -1;
        grid-row: 1 / 1;
    }

    .product-shot img:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }

    .product-shot img:nth-child(4) {
        grid-column: 2 / -1;
        grid-row: 2 / 2;
    }

    #behind-dough .dough-text {
        display: flex;
        gap: 2rem;
    }

    #people-saying .quotes {
        display: flex;
        gap: 2rem;
    }
    
    #people-saying .quotes blockquote {
        flex: 1;
    }
    
    #try-with .flavours {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1.5rem;
    }

}

@media (min-width: 960px) {

    #sweetheart .wrapper {
        display: flex;
        gap: 2rem;
    }

    #sweetheart h1 {
        margin-top: 0;
    }

    .product-shot {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        gap: 1rem;
    }

    .product-shot img:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .product-shot img:nth-child(2) {
        grid-column: 2 / -1;
        grid-row: 1 / 1;
    }

    .product-shot img:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }

    .product-shot img:nth-child(4) {
        grid-column: 2 / -1;
        grid-row: 2 / 2;
    }

    #behind-dough .dough-text {
        display: flex;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    #people-saying .quotes {
        display: flex;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    #people-saying .quotes blockquote {
        flex: 1;
    }
    
    #try-with .flavours {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1.5rem;
    }

}