* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.027rem;
}
h2 {
    font-size: 1.802rem;
}
h3 {
    font-size: 1.266rem;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

header img {
    max-width: 40%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #000;
}

.product-shot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
}

.product-shot img:nth-child(1) {
    max-width: 100%;
    grid-column: 1 / -1;
}



